<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
<!--Spring任务调度：作业详情类不需要接入job接口-->
    <!--1、全注解式的-->
    <task:annotation-driven/>
    <!--2、配置中写任务调度需要扫描作业详情类，
    这里是因为spring-schedule.xml已经进行扫描过了而不需要再次扫描
    <context:component-scan base-package="top.xp.job"/>
    -->
    <task:scheduled-tasks>
        <task:scheduled ref="alertJob" method="run" cron="0/5 * * * * ?"/>
    </task:scheduled-tasks>

</beans>